/**
 * @file
 * Styles for question form.
 *
 */

.question {
  margin-top: 25px;
}

.feedback {
  font-size: 1.1em;
  font-weight: bold;
  border: #008aa7 solid 1px;
  padding: 10px;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}

.not-chosen {
  color: #888888;
}

.choice-indicator {
  font-weight: bolder;
  font-style: italic;
}
